[Unit]
Description=Start tmux in detached session
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s main -d
ExecStop=/usr/bin/tmux kill-session -t main

[Install]
WantedBy=graphical-session.target
